body{
	background-image: url(./img/back.jpg);
	background-size: 50%;
	/*background-image: url(./img/back.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;*/
	font-family: Arial;
}
body::after {
  content: "";
  background: white;
  opacity: .2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}
.menu{
    height:20px;
    position: fixed;
    background-color: rgb(255,205,0);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 35px 0px black;
    transition: 0.7s;
    text-align: center;
    margin:0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foglio{
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    width: 21cm;
    height: 29.7cm;
    transition: 0.2s;
    border: 1px solid white;
}

.margini{ 
    position: relative;
    height: 27cm;
    width: 702px;
    margin: auto;
	top: 1cm;
}

.int{
    
    width: 100%;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    color: rgb(66, 85, 99);
    font-family: Arial;
    font-size: 4pt;
}


.topr{
    text-align: right;
    display: inline-block;
    width: 8cm;
    vertical-align: middle;
    font-family: Arial;
    font-weight: 900;
    font-style: italic;
    color: rgb(66, 85, 99);  
}

.dati{
    left:0;
	margin:0;
	padding:0;
	
}

.topleft, .topright{
	width: 340px; 	
	margin:0;
	padding:0;
	height: 156px;
	}

.topleft{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    position: absolute;
    left:0;
    
}

.topright{
    position: absolute;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;   
}

.topcenter{
    border-collapse: collapse;
	
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    width: 10px;
    height: 156px;
    
}

.tabella{
    width:100%;
    text-align: center;
    border-collapse: collapse;
}

.a1{
    width: 50%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 5pt;
    font-weight: 800;  
}

.a2{
    font-family: arial;
    font-size: 7pt;
    width: 50%;
    height: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow: hidden;
}

.a3{
    width:50%;
    height: 4px;
    border: 1px solid black;
    border-top: 0.3px solid gray;
}

.a4{
    width: 16.5%;
    height: 15px;
    border-left: 0.3px solid gray;
    border-right: 0.3px solid gray;
}

.a5{
    width:50%;
    height: 17px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0.3px solid gray;
}

.a6{
    width: 16.5%;
    height: 15px;
    border-left: 0.3px solid gray;
    border-right: 1px solid black;
}

.spazio{
    height: 5px;
}

.header{
	height: 20px;
    border-collapse: collapse;
    float: top;
    border: 1px solid black;
    font-family: Arial;
    font-size: 9pt;
	text-align: center;
}


.headertext{
	position: inline;
    margin: 2px 0;
    font-family: Arial;
    font-weight: 800;
    font-size: 10px;
}


.note{
	position: inline;
    border-collapse: collapse;
    display: inline-block;
    text-align: justify;
    border: 1px solid black;
    border-top:none;
    overflow: hidden;
    font-family: arial;
    font-size: 9pt;
    line-height: 20px;
}

.notetext{
	word-wrap: normal;
    border-collapse: collapse;
    float: top;
    border: 1px solid black;
	border-top:none;
	border-bottom:none;
    font-family: Arial;
    overflow: hidden;
}


#rappl1, #oss1{
	position: absolute;
	padding: 0 15px;
	overflow: hidden;
	line-height: 16px;
    font-size: 9.5px;
	text-align: justify;
	white-space: normal;
	white-space: pre-wrap;
}



.righe{
    top: 0;
    display: block;
	top:0;
    height: 16px;
    border-bottom: 0.3px solid gray;
}

.dati, .header, .headertext, .note, .notetext, .righe {
	box-sizing: border-box;
	width: 702px;
}


.commessa{
    width: 9cm;
}

.ordine{
    width: 4.5cm;
}

.offerta{
    width: 4.5cm;
}

.centro{
    width: 100%;
}

.centro, .dati, .tabset, #firmacc1, #firmatt1{
	cursor: pointer;
	transition: .5s;
}

@media not print {
    .foglio{
        box-shadow: 0px 0px 25px 0px black;
    }
    .centro:hover, .dati:hover, .tabset:hover, #firmacc1:hover, #firmatt1:hover{
        box-shadow: 0 0 20px 0 black, 0 0 20px 0 rgb(255,205,0);
        
	}
}

.testo{
    margin:0;
    margin-top: 0.2cm;
    position: static;
    margin-left: 1cm;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: Arial;
    font-weight: 900;
    font-size: 4pt;
    text-align: center;
}


.button1, .button2 {
    position: relative;

    float: center;
    top: 50px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    visibility: hidden;
  }



.datiin {width: 50%;

    float: center;
    position: relative;
    margin-top: 10px;
    top: 50px;
    left: 10px;
    visibility: hidden;
    border-radius: 5px;
    background-origin: border-box;
    border: 1px solid #ccc;
    padding: 5px;
}

.entra{
    margin:0px;
    position:static;
    margin-left: 1cm;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: Arial;
    font-size: 12pt;
    text-align: center;
    height: 0.5cm;
}

.chiudi{
    margin: 0;
    position: static;
    margin-left: 1cm;
    border-top: 1px dotted black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-family: Arial;
    font-size: 4pt;
    text-align: center;
    height: 0.2cm;
}

.imgmenu{
    cursor: pointer;
}

.in {
    height: 11px;
    overflow: hidden;
    font-size: 7pt;
}

.settimana{
    float: top;
    width: 702px;
}

.tabset{
    font-family: arial;
    font-size: 7pt;
    text-align: center;
    border-collapse: collapse;  
	border: 1px solid black;	

}
.tabset2{
    font-style: oblique;
    font-family: arial;
    font-weight: 900;
    text-align: left;
    border-collapse: collapse;  
    width: 70px; 
    font-size: 10pt;
    border:none;
    padding: 0;
    margin:0;
}
.legenda{
    border-collapse: collapse;
    box-sizing: border-box;
    border:1px solid black;
    border-top: none;
    font-size: 6pt;
    width: 100%;
    height: auto;
    font-family: arial;
    overflow: hidden;
}


.tabcell, .tabcell1, .tabcell2, .tabcell3 {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
	box-sizing: border-box;
}

.tabcell{
    height: 21px;
    border: 1px solid black;
}

.tabcell1{
    height: 21px;
    border: 1px solid black;
	width: 133px;
}
.tabcell2{
    width: 35px;
    height: 21px;
    border: 1px solid black;
}

.tabcell3{
    width: 24.5px;
    height: 10px;
    border: 1px solid black;
}

.tf, .firma{
    border: 1px solid black;
    border-top: none;
    height: 20px;
    width: 20%;
    
}
.firma{
    height: 60px;  
}

.tf{
    font-family: Arial;
    font-weight: 900;
    font-size: 6pt;
    text-align: center;
}

.conte{
    width: 500px;
    height: 300px;
    padding:0;
}
canvas{
    border: 3px solid  rgb(66,85,99);
    border-radius: 20px;
    background-image: url(./img/paper.jpg);
    background-size: 85%;
}    

.comandi{
    width: 40%;
    border-style: none;
    margin:0;
    padding:0;
    float: center;
    padding: 10px 0 10px 0;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 700;
    background-color: rgb(66,85,99);
    color: rgb(255,205,0);
    border-radius: 10px;
}

.comandi:hover{
    background-color: rgb(255,205,0);
    color: rgb(66,85,99)
}

.ccc{
    position: fixed;
    top: 0px;
    width: 100%;
    left:0;
    text-align: center;
    justify-content: center;
	overflow: hidden;
}

.finestra{
    position: static;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    box-sizing: border-box;
    width: 44%;
    background-color: white;
    border: 3px solid rgb(66,85,99);
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 25px 0 black;
    display: none;
    max-width: 500px;
	margin-bottom:1000px;
    margin-top: 40px;
}
.finestrai, .finestrao{
    overflow:auto;
}
.barrat{
    margin-bottom: 15px;
    position: static;
    top:0;
    width: 100%;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(66, 85, 99);
    color: rgb(255,205,0);
}

.pulsante, .pulsante1{
    width: 40%;
    border-style: no;
    cursor: pointer; 
	background-color: rgb(255,205,0) ;
    color: rgb(66,85,99) ;
    margin: 10px 0 20px 0;
}


.pulsante:hover, .pulsante1:hover{
    background-color: rgb(66,85,99);
    color: rgb(255,205,0);    
}

.pulsante:disabled, .pulsante1:disabled{
    background-color: grey;;
    color: rgb(153, 102, 0);    
}

.inser, .inser1, #data2{
    width: 80%;
    margin-bottom: 10px;
    cursor: text;
	background-color: rgb(66,85,99) ;
    color: rgb(255,205,0) ;
}

.inser, .inser1, #data2, .pulsante, .pulsante1{
	box-sizing: border-box;
    border: 2px solid rgb(66,85,99);
    border-radius: 10px;
    padding: 3px;
    font-weight: 800;
    font-size: 7pt;  
}

.pulsante1 {width: 27%}
.inser1{
    width: 24%;
}

label{
    font-family: Arial;
    font-weight: 800;
}

.close{
    float: right;
    right: 20px;
    font-weight: 800;
    font-size: 20pt;
    font-family: Arial;
    color: rgb(255,205,0);
    cursor: pointer;

}

.g{
    margin-right: 20px;
}

.tt{
	font-size: 10px;
    margin:0;
    padding-top: 0px;
    font-family: Arial;
    font-weight: 900;
    color: rgb(255,205,0)
}


#firmat1, #firmac1 {
	top: 30px;
    min-width: 850px;
    
}

#mmm{
	text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-height: 100px;
    overflow: auto;
	cursor: pointer;
}

.nome{
    text-align: left;
}

#listam{
	width: 80%;
    overflow: auto;
    list-style-type: none;
	margin: 0 auto;
    padding:0;
    font-family: ARial;
    font-size: 7pt;
    font-weight: 200;
    text-align: center;
	cursor: pointer;
}


#listam td{
    overflow: hidden;
    white-space: nowrap;
}

#listam tr:hover{
    background-color: rgb(255,205,0);
    color: rgb(66, 85, 99);
    cursor: pointer;
}

#htmlore{
    width: 600px;
    margin: auto;
}

.radiobtn input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.radiobtn input[type="radio"] + label{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(66, 85, 99);
    border: 3px solid rgb(66, 85, 99);
    color: grey;
    font-family: ARial;
    font-weight: 900;
    cursor: pointer;
    border-radius: 10px;
    opacity: 60%;
}

.radiobtn input[type="radio"]:hover + label{
    opacity: 100%;
}

.radiobtn input[type="radio"]:checked + label{
    background-color: rgb(255,205,0);
    color: rgb(66, 85, 99);
    opacity: 100%;
}

@page{
    margin: 0cm;
}

@media print {
    body * {
      visibility: hidden;
      
    }
    .foglio, .foglio * {
      visibility: visible;
    }
    .foglio {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

#menuOre{
    max-width: 800px;
    width: auto;
}

#menuMatricola{
    max-width: 800px;
    width: 605px;
}

#inputmac {
    background-color: white;
	width: 90%;
}
  /* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
	cursor:pointer;
  }

  #tabmenu{
      padding: 5px 0;
      font-family: Arial;
      font-size: 8pt;
      margin-left: auto;
      margin-right: auto;
      font-weight: 800;
  }

  #tabmenu td{
      
      width: 50px;
      padding:0;
      border-collapse: collapse;
      cursor: pointer;
      
  }
  #tabmenu img{
      align-content: center;
  }

  #tabmenu td:hover{
      box-shadow: 0 0 20px 0 white;
      border-radius: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255,205,0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255,205,0); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(66, 85, 99); 
  }


  #main table, select, form, input, option, #ris {
    display: inline-block;
    font-family: Arial;
    font-size: 8pt;
    text-align: center;
    border: 0;
    margin:auto;
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(255,205,0);
    color: rgb(66, 85, 99);
}
#main{
    margin-left:auto;
    margin-right: auto;
    border-radius: 10px;
    border-collapse: collapse;
    background-color: rgb(66, 85, 99);
    
}
#main td, #main th {
    font-family: Arial;
    background-color: rgb(66, 85, 99);
    color: rgb(255,205,0);
    border-radius: 10px;
    padding: 5px;
    border: 1px solid white;
}

#main th{
    
    font-size: 9pt;
}
.ore{
    width: 20px;
    
}

.ores{
width: 20px;
border:1px solid rgb(255,205,0);
}

#ris{
    background-color: rgb(66, 85, 99);
    border-radius: 10px;
}

#ris tr{
    border: none;
}

#ris td{
    padding: 3px 5px;

    background-color: rgb(255,205,0);
    border-collapse: collapse;
    color: rgb(66, 85, 99);
}

.buttonore{
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    font-size: 8pt;
    background-color: rgb(66, 85, 99);
    color: rgb(255,205,0);
    border: 1px solid rgb(255,205,0);
}

.buttonore:hover{
    background-color: rgb(255,205,0);
    color: rgb(66, 85, 99);
}

.elim{
    cursor: pointer;
}
.elim:hover {
    background-color: rgb(66, 85, 99);
    color: rgb(255,205,0);
}



body{
	box-sizing: border-box;
    text-align: center;
    }
#htmlore{
margin-left: auto;
margin-right: auto;
display: inline-block;
width: 100%;
text-align: center;
}


#upd, #user, #unsentCount {
	float: right;
    background-color: none;
    font-family: Arial;
    font-size: 10px;
    font-weight: 900;
    margin: 0 20px;
}

#unsent{
    background-color: black;
    color:white;
    padding: 0 5px;
    border-radius: 50%;
}

#notification {
	font-family: Arial;
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .hidden {
    display: none;
  }
  
  .firma{
	  font-family: Arial;
	  font-size: 8pt;
	  font-weight: 600;
	  
  }
  
 .radiobtn1 input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.radiobtn1 input[type="radio"] + label{
    display: inline-block;
    padding: 3px 5px;
    background-color: rgb(66, 85, 99);
    border: 3px solid rgb(66, 85, 99);
    color: grey;
    font-family: Arial;
	font-size: 7pt;
    font-weight: 900;
    cursor: pointer;
    border-radius: 50%;
    opacity: 60%;
}

.radiobtn1 input[type="radio"]:hover + label{
    opacity: 100%;
}

.radiobtn1 input[type="radio"]:checked + label{
    background-color: rgb(255,205,0);
    color: rgb(66, 85, 99);
    opacity: 100%;
}

input[type=email]:valid{
	box-shadow: 0 0 10px 0 green;
}

.mail {
	box-sizing: border-box;
	font-family: Arial;
	font-weight: 600;
	font-size: 13px;
	background-color: rgb(255, 205,0);
	box-shadow: 0 0 7px 0 black;
	border-radius: 10px;
	display: inline-table;
	margin: 5px;
	padding: 3px;
	cursor: pointer;
}

.legenda1{
	text-align:left;
	font-size: 5pt;
	line-height: 170%;
}

#rs{
	margin: 20px;
	margin-left: auto; margin-right: auto;
	border-collapse: collapse;
	font-size: 12px;
}

#rs td, #rs th{
	padding: 5px;
	font-weight: 600;
}

#rs tr{
	border: 2px solid rgb(66,85,99);
}

#rs p{
	margin: 0;
	text-align: left;
}

#rs input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

#rs input[type="radio"] + label{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(66, 85, 99);
    border: 3px solid rgb(66, 85, 99);
    color: grey;
    font-family: Arial;
    font-weight: 900;
    cursor: pointer;
    border-radius: 10px;
    opacity: 60%;
}

#rs input[type="radio"]:hover + label{
    opacity: 100%;
}

#rs input[type="radio"]:checked + label{
    background-color: rgb(255,205,0);
    color: rgb(66, 85, 99);
    opacity: 100%;
}

#notContainer{
    position: fixed;
    display: flex;
    right: 5px;
    top: 25px;
    max-width: 600px;
    flex-direction: column;
    align-items: flex-end;
    z-index:1;
}

.not{
    display:flex;
    justify-content: flex-start;
    width: 75%;
    min-width: 250px;
    max-width: 600px;
    border: 1px solid rgb(66, 85, 99);
    margin: 5px;
    padding: 5px 10px;
    background-color:rgb(255, 205,0);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    font-family: Arial;
    color: rgb(66, 85, 99);
    font-weight: 900; 
    font-size: 60%;
    box-shadow: 0 5px 10px black;
    justify-content: space-between;   
    align-items: center;
    z-index: 5;
}

.pnot{
    background-color: rgb(66, 85, 99);
    color:rgb(255, 205,0);
    border-radius: 50%;
    padding: 0 5px;
}

.login{
    position: fixed;top:0;left:0;
    width:100%;height:100%;
    background-color: lightgrey;
    z-index: 1200;
    display:flex;
    justify-content: center;
    display: none;
}

.form{
    background-color: rgb(66, 85, 99);
    box-shadow: 0 0 20px 0 rgb(66, 85, 99);
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formH{
    font-weight: 800;
    color: rgb(255, 205,0)
}

.formB{
    width: 60%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
}
.inputLogin,.inputPass{
    text-align: left;
    padding: 0 10px;
    background-color: rgb(255, 205,0);
    height: 20px;
    font-weight: 800;
}

.inputLogin{
    width:100%;   
    margin: 0 0px;
}

.inputPass{
    width:100%;
}

.labelLogin{
    margin: 20px 0 0 0;
    color: rgb(66, 85, 99);
    font-size: 70%;
}

.divPass{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.eye{
    border-radius: 10px;
    cursor: pointer;
}

.logBody{
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: white;
    height:100%;
}

.loginBut{
    margin: 30px 0;
    width: 100%;
}

.loginPulsante{
    width: 50%;
    margin: 30px 0;
    box-sizing: border-box;
    border: 2px solid rgb(66,85,99);
    border-radius: 10px;
    padding: 3px;
    font-weight: 800;
    font-size: 7pt;  
    border-style: no;
    cursor: pointer; 
	background-color: rgb(255,205,0) ;
    color: rgb(66,85,99) ;
}

.loginPulsante:hover{
    background-color: rgb(66, 85, 99);
    color: rgb(255, 205,0);
}

.loginPulsante:disabled{
    background-color: rgb(66, 85, 99);
    color: lightgrey;
}

.warn{
    color: white;
    font-weight: 800;
    font-size: 60%;
}

.elM{
    box-sizing: border-box;
    margin:0;
    width: 1000px;
    max-width: 200px;
    cursor: pointer;
    color: rgb(255, 205,0);
}

.elM:hover {
    box-shadow: 0 0 5px 0 rgb(255, 205,0);;
}

#listaMai{
    position: absolute;
    margin: auto;
    display: flex; 
    flex-direction: column; 
    max-height: 150px;
    overflow: hidden; 
    align-items: center;
    background-color: rgb(66, 85, 99);
    border: 1px solid rgb(255, 205,0);
    box-shadow: 0 0 5px 0 rgb(66, 85, 99);
    width:80%;
    border-radius: 10px;
    overflow:auto;   
    left: 10%; top:60px;
}

.mUl{
    font-size: 10px;
    font-weight: 900;
    list-style: none;
    padding:0;
}

#container{
    position: fixed; 
    width: 100%; height: 100%; top:0;left:0;
    background-color: lightblue; 
    z-index: 100000;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    overflow:auto;
}

.filterMail{
    display: flex;
    font-family: Arial;
    font-size: 8pt;
    text-align: center;
    border: 0;
    margin:0;
    padding: 2px;
    border-radius: 3px;
    background-color: rgb(255,205,0);
    color: rgb(66, 85, 99);
}

#listaUtenti, #listaMacchine, #CustList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#tabUtenti, #tabRig, #tabCust{
    font-size: 60%;
    box-sizing: border-box;
    border-collapse: collapse;
    height: 100%;
}

#tabUtenti th{
    vertical-align: middle;
    background-color: rgb(255, 205,0);
    text-align: center;
    cursor: pointer;
}

#tabUtenti td{
    text-align: left;
    border-radius: 10px;
}


#tabUtenti td, #tabUtenti th, #tabRig td, #tabCust td{
    margin: auto;
    padding: auto;
    width: 20%;
    font-weight: 900;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid rgb(66, 85, 99);
    color: rgb(66, 85, 99);
}

#ff{
    width: 80%;
    display: flex;
    flex-direction: column;
}

#nuovoUtente{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 60px;
    width: 80%;
}

#uNome, #uCognome,#uMail,#uPos{
    width: 45%;
}

#uPos{
    text-align-last:center;
}

#nUtente{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#userButton{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.userTesto{
    font-size: 60%;
    font-weight: 900;
}

#listaMacchine{
    padding: 10px 0;
}

.inputNewRig{
    margin:10px 0; 
    width:80%;
    max-width: 100%;
}

#tabRig{
    width: 80%;
}


#cercaMac{
    display:flex;
    flex-direction: column;
}

.rigTitolo{
    margin: 10px 0 0 0;
    width:100%;
    font-weight: 900;
    font-size: 8pt;
}

.rigNuova{
    display: flex;
    justify-content: center;
    width:100%;
}

.rigInput{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.rigPiu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.rigRow{
    display: flex;
    justify-content: center;
}

.butGroup{
    padding: 0 20px;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.pMenu{
    width:30%;
}

.AdMenu{
    max-width:1200px; width:80%;
}


