#main table, select, form, input, option, #ris {
                display: inline-block;
                font-family: Arial;
                font-size: 8pt;
                text-align: center;
                border: 0;
                margin:auto;
                padding: 2px;
                border-radius: 3px;
                background-color: rgb(255,205,0);
                color: rgb(66, 85, 99);
            }
            #main{
                margin-left:auto;
                margin-right: auto;
                border-radius: 10px;
                border-collapse: collapse;
                background-color: rgb(66, 85, 99);
                
            }
            #main td, #main th {
                font-family: Arial;
                background-color: rgb(66, 85, 99);
                color: rgb(255,205,0);
                border-radius: 10px;
                padding: 5px;
                border: 1px solid white;
            }

            #main th{
                
                font-size: 9pt;
            }
            .ore{
                width: 20px;
                
            }

            .ores{
            width: 20px;
            border:1px solid rgb(255,205,0);
            }
        
            #ris{
                background-color: rgb(66, 85, 99);
                border-radius: 10px;
                opacity: 70%;
            }

            #ris tr{
                border: none;
            }

            #ris td{
                padding: 3px 5px;

                background-color: rgb(255,205,0);
                border-collapse: collapse;
                color: rgb(66, 85, 99);
            }
            
            .buttonore{
                cursor: pointer;
                padding: 5px;
                border-radius: 20px;
                font-size: 8pt;
                background-color: rgb(66, 85, 99);
                color: rgb(255,205,0);
                border: 1px solid rgb(255,205,0);
            }

            .buttonore:hover{
                background-color: rgb(255,205,0);
                color: rgb(66, 85, 99);
            }

            .elim{
                cursor: pointer;
            }
            .elim:hover {
                background-color: rgb(66, 85, 99);
                color: rgb(255,205,0);
            }

            

            body{
                text-align: center;
                }
#htmlore{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
}